{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<div class="jumbotron jumbo-margin " id="w" #about>
    <div class="row ">
        <div class="col-12 ">
            <h1 class="display-4 text-center h-size ">Who Are We?</h1>
        </div>
    </div>
    <div class="row align-items-center row-about-us ">
        <div class="col-sm-3 col-md-3 about-img ">
            <img src="../../../assets/images/who-we-are.png " class="img-fluid grow " />
        </div>
        <div class="col-sm-9 col-md-9 space ">
            <p class="pa-padding ">
                This pandemic has literally brought everyone on their knees, the despair and despondency that shrouded the country during covid gave us the motive to calibrate technology and help people out of these unprecedented times. Team Swasthify tries to provide
                its users with a service-based distinction of our partner hospitals from all across the country. What really keeps us going is a belief that one day we will make the notion of "hospitals at your fingertips " true.
            </p>
        </div>
    </div>
</div>
<p>Use this area to provide additional information.</p>

{% endblock %}
