<!DOCTYPE html>
<html>
<head>
    <title>Search Doctor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .error {
            color: #FF0000;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Search Doctor</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Doctor_number</th>
                    <th>Doctor_name</th>
                    <th>Doctor_specialization</th>
                    <th>Doctor_address</th>
                    <th>Doctor_phone</th>
                    <th>Doctor_email</th>
                    <th>Doctor_salary</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>