<!DOCTYPE html>
<html>
<head>
    <title>Search Patient</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Search Patient</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>PatientID</th>
                    <th>AppoinmentDate</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>MobileNumber</th>
                    <th>city</th>
                    <th>address</th>
                    <th>state</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>


</body>
</html>


    <
